.card {
    display: flex;
    flex-direction: column;
}

.card__image {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    }
    
    .card__description {
        display: flex;
        background-color: white;
        color: black;
        padding: 25px 20px;
        align-items: center;
        border-bottom-right-radius:  10px;
        border-bottom-left-radius:10px;
        font-family: Inter, Arial, sans-serif;
        justify-content: space-between;
        max-height: 29px;

    }
    
    .card__text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
        max-width: 219px;
    }
    
    .card__like-button {
        background: transparent url(../images/like-button.jpg) center no-repeat;
        width: 21px;
        height: 18px;
        border: transparent;
    }
    
    .card__like-button:hover {
        opacity: 50%;
    }