.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: "Inter", Arial, sans-serif;
  justify-content: space-between;
  max-height: 29px;
}

.card__text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 219px;
}

.card__like-button {
  background: transparent url(../images/like-button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: transparent;
}

.card__like-button_active {
  background-image: url(../images/like-button-active.svg);
}

.card__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}

.card__trash-button {
  background: transparent url(../images/Trash.svg);
  border: none;
  cursor: pointer;
  width: 18px;
  height: 19px;
  position: absolute;
  margin: 18px 15px 0px 0px;
  place-self: end;
  padding: 0;
}

.card__trash-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.card__image_modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 0 19px;
  display: none;
}
