.footer {
  padding-top: 67px;
  padding-bottom: 60px;
  color: #545454;
}

.footer__copyright {
  font-family: "inter", Arial, sans-serif;
  font-weight: 400;
  color: #545454;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}

@media screen and (max-width: 620px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }

  .footer__copyright {
    font-size: 14px;
    margin: 0 0 0 19px;
  }
}
