.header {
  margin: 45px auto 0;
  border-bottom: rgb(84 84 84 / 0.7);
  border-width: 1px;
  border-bottom-style: solid;
}

.header__logo {
  width: 173px;
  height: 33px;
  padding-bottom: 41px;
}

@media screen and (max-width: 640px) {
  .header {
    margin: 28px auto 0;
  }

  .header__logo {
    margin-left: 27px;
    padding-bottom: 32px;
    width: 126px;
    height: 24px;
  }
}
