.page {
  background-color: black;
  color: white;
  margin: 0 auto;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 1280px) {
  .page__content {
    margin: 0 20px;
  }
}

@media screen and (max-width: 580px) {
  .page__content {
    margin: 0;
  }
}
